.node-add-list {
  border-color: #CCC #DDD #EEE;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}
.node-add-list li {
  background-image: none; /* Garland Override */
  border-bottom: 1px solid #E8E8E8;
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}
.node-add-list li .image {
  float: left;
  width: 160px;
}
.node-add-list .title.hasimg,
.node-add-list .description.hasimg {
  margin-left: 170px;
}
.node-add-list li .clear {
  clear: both;
}
.node-add-list li:last-child {
  border: 0;
}
